@use '@angular/material' as mat;
@include mat.core();

$frontendtest-theme-primary: mat.m2-define-palette((
  50: #e3e6f2,
  100: #b8c1e0,
  200: #8c98cd,
  300: #6070b9,
  400: #3d4faa,
  500: #002884,
  600: #00247b,
  700: #001e6f,
  800: #001963,
  900: #000f4d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
));

$frontendtest-theme-accent: mat.m2-define-palette((
  50: #e5ecff,
  100: #baccff,
  200: #8cabff,
  300: #5d89ff,
  400: #3b6eff,
  500: #2C60FF,
  600: #2959e6,
  700: #234fcb,
  800: #1d46b1,
  900: #123592,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
));

$frontendtest-theme-warn: mat.m2-define-palette((
  50: #ffe8e0,
  100: #ffc6b3,
  200: #ffa280,
  300: #ff7d4d,
  400: #ff6226,
  500: #f45516,
  600: #dd4d14,
  700: #c34411,
  800: #aa3b0e,
  900: #832b09,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
));

$frontendtest-theme: mat.m2-define-light-theme((
  color: (
    primary: $frontendtest-theme-primary,
    accent: $frontendtest-theme-accent,
    warn: $frontendtest-theme-warn,
  )
));

@include mat.all-component-themes($frontendtest-theme);

